body {
    margin: 0;
    padding: 0;
  
    font-family: "PT Sans", "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main-header {
    background-color: #f3f7f9;
}

.header-top {      
    background-color: #293449;    
}

.header-top a {
    list-style: none;
    color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-align: left;
}

.search-label input {
    background-color: #293449;
    border: none;
    font-size: 17px;
    line-height: 18px;
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;/*как убрать прозрачность с placeholder*/
}

.header-top a:hover,
.header-top a:focus, 
.search-label input:hover,
.search-label input:focus {
    background-color: #212a3a;
}

.main-header-logo {    
    background-color: #ee3643;
}

.main-header-logo a {
    font-size: 18px;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
}
.main-header-logo a:hover,
.main-header-logo a:focus {
    background-color: #ca2c37;
}

.order {
    background-color: #63a63e;
}

.order a:hover,
.order a:focus {
    background-color: #5fbb2d;
}

/*средняя часть хедера*/

h1 {
    font-family: "Cuprum", Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
    line-height: 23px;
    color: #ee3643;
}

.header-phone {
    list-style: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    border-color: white;
    color: #ee3643;
}

.header-adress {
    list-style: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #32425c;
}

.user-navigation {
    list-style: none;
    
}

.user-navigation a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    color: #000000;
}

.user-navigation .my-orders,
.user-navigation .my-cabinet {
    font-size: 16px;
    line-height: 1.13;
    text-decoration: underline;
    color: #32425c;
}

.user-navigation .log-out {
    font-size: 0;
}

.user-navigation a:hover,
.user-navigation a:focus,
.my-orders:hover,
.my-orders:focus {
    color: #ee3643;
}

.user-navigation .logged-in:hover,
.user-navigation .logged-in:focus {
    color: #000000;
}

/*нижняя часть хедера главные ссылки*/

.main-navigation {    
    background-color: #32425c;
}

.site-navigation a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    text-align: left;
    color: #ffffff;
}

.site-navigation li {
    list-style: none;
}
.site-navigation a:hover,
.site-navigation a:focus {
    background-color: #293449;
}

/*позже

.services h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

*/

/*заголовок выглядит толще, чем в макете*/
.about h2,
.main-page-footer h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

/*текст на всю ширину тянется, нужен бр в разметке ?*/
.about p,
.main-page-footer p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.about li {
    list-style: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.about .button,
.modal-write-us .button {
    list-style: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.25;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #ee3643;
}

/*футер*/
