body {
    margin: 0;
    padding: 0;
  
    font-family: "PT Sans", "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.main-header {
    background-color: #f3f7f9;
    margin-bottom: 60px;
    padding-bottom: 60px;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-top > .container {
    display: flex;
    align-items: center;
    height: 42px;
}

.header-top {
    background-color: #293449;    
}

.header-top a {
    list-style: none;
    color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
}

.search-label input {
    background-color: #293449;
    border: none;
    font-size: 17px;
    line-height: 18px;
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;/*как убрать прозрачность с placeholder*/
    min-width: 270px;
    min-height: 42px;
}

.bookmark {
    min-width: 150px;
    min-height: 42px;
    padding-left: 19px;
}

.cart {
    min-width: 150px;
    min-height: 42px;
    padding-left: 20px;
}

.bookmark:hover,
.bookmark:focus,
.cart:hover,
.cart:focus,
.search-label input:hover,
.search-label input:focus {
    background-color: #212a3a;
}

.header-top .main-header-logo {   
    background-color: #ee3643;
    box-shadow: 0px 5px 0 0 rgba(0, 0, 0, 0.24);
    font-size: 24px;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #ffffff;
    min-width: 220px;
    height: 42px;
    text-align: center; 
}

.main-header-logo:hover,
.main-header-logo:focus {
    background-color: #ca2c37;
}

.order {
    background-color: #63a63e;
    min-width: 150px;
}

.order:hover,
.order:focus {
    background-color: #5fbb2d;
}

/*средняя часть хедера*/

.main-header > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

 .main-header h1 {
    font-family: "Cuprum", Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
    line-height: 23px;
    color: #ee3643;
    padding: 0;
    margin: 0;
    padding-left: 53px;
    margin-top: 48px;
    padding-bottom: 44px; 
}

.container .header-adress-phone {
    margin-top: 46px;
}

.container ul.header-adress-phone {
    list-style: none;
    padding: 0;
}

.header-phone {
    list-style: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    border-color: 1px solid #ffffff;
    color: #ee3643;
    box-sizing: border-box;
    width: 270px;
    height: 45px;
    padding: 13px 54px 11px 70px;
}

.header-adress {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #32425c;
    padding-top: 4px;
    padding-left: 5px;
}

.user-navigation {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    max-width: 299px;
    min-height: 45px;
    
}

.user-navigation a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    color: #000000;
    min-width: 121px;   
}

.user-navigation .enter {
    box-sizing: border-box;
    width: 121px;
    height: 45px;
    align-self: center;
}

.user-navigation .registraton {
    box-sizing: border-box;
    width: 150px;
    height: 45px;
    align-self: center;
    /*padding: 14px 25px 11px 25px;*/
}

.user-navigation .logged-in {
    margin: 0;
    padding: 0;
    width: 299px;
    min-height: 45px;
}

.user-navigation .my-orders,
.user-navigation .my-cabinet {
    font-size: 16px;
    line-height: 1.13;
    text-decoration: underline;
    color: #32425c;
}

.user-navigation .log-out {
    font-size: 0;
}

.user-navigation a:hover,
.user-navigation a:focus,
.my-orders:hover,
.my-orders:focus {
    color: #ee3643;
}

.logged-in::before {
    content: "";
    background-image: url("/img.svg/icon-login.svg")
}

.logged-in::after {
    content: "";
    background-image: url("/img/svg/icon-logout.svg")
}

.user-navigation .logged-in:hover,
.user-navigation .logged-in:focus {
    color: #000000;
}

/*нижняя часть хедера главные ссылки*/

.main-navigation {
    margin: 0;
    padding: 0;    
    background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 #293449;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;        
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 60px;
}

.site-navigation li {    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    text-align: left;
    color: #ffffff;
    padding-top: 20px;
}

.site-navigation li:first-child {
    margin-left: 52px;
}

.site-navigation li:last-child {
    margin-right: 55px;
}

.site-navigation a {
    text-decoration: none;
    color: #ffffff;
    padding-top: 21px;
    padding-bottom: 21px;
    /*padding-left: 31px;
    padding-right: 31px;*/
}

.site-navigation a:hover,
.site-navigation a:focus {
    background-color: #293449;
}

/*--------основной контент на главной-------*/

.main-block > .container {
    display: flex;
    flex-wrap: wrap;
    min-height: 410px;
}

.main-tile li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-tile .categories-block {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 24px;
    font-weight: bold; 
    line-height: 1.25;
    text-align: left;
    color: #ffffff;
    min-width: 300px;
    min-height: 123px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.main-tile .categories-block:nth-child(3),
.discount-delivery-block .categories-block  {
    margin-right: 0;    
}

.main-tile .button-categories-block {
    background: rgba(0, 0, 0, 0.1);
    /*временно наверное*/
    display: block;
    width: 135px;
    height: 38px;
}

.main-tile .button-categories-block:hover,
.main-tile .button-categories-block:focus {
    background: rgba(0, 0, 0, 0.2);
}

.main-tile a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;  
    line-height: 1.25;  
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;    
}

.categories-material {
    background-color: #ffbf47;
    background-image: url("../img/svg/material-icon.svg");
    background-repeat: no-repeat;
    /*background-image: url("../img/svg/new-flag.svg");картинка или рисовать ?*/
    
}

.categories-instrument {
    background-color: #3bbce3;
    background-image: url("../img/svg/instrument-icon.svg");
    background-repeat: no-repeat;
}

.categories-technics {
    background-color: #dc91d8;
    background-image: url("../img/svg/technics-icon.svg");
    background-repeat: no-repeat;
}

.categories-discount {
    background-color: #8ed78f;
    background-image: url("../img/svg/discount-icon.svg");
    background-repeat: no-repeat;
}

.categories-delivery {
    background-color: #ffc047;
    background-image: url("../img/svg/delivery-icon.svg");
    background-repeat: no-repeat;
}

.discount-delivery-block {
    display: flex;
    flex-direction: column;
}

.slide h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;  
    font-weight: bold;  
    line-height: 1;
    color: #ffffff;
    text-transform: uppercase;
}

.slide p {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;  
    line-height: 1.33;  
    text-align: left;
    color: #ffffff;
}

.slider {
    display: flex;
}

.slider .slide {   
    min-width: 620px;
    min-height: 266px;
    margin-right: 20px;
}

.perforators-slide {
    background: url("../img/slider-perf.jpg") no-repeat;
}

.drills-slide {
    background: url("../img/slider-drill.jpg") no-repeat;
}

.button-slider-categories {
    background-color: #ee3643;   
}

.slider a:hover,
.slider a:focus {
    background-color: #ca2c37;
}

/*-----------популярные товары-----------------*/

.popular-goods h3,
.brand-list-popular h3 { 
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 1;
    text-align: left;
    color: #32425c;
    text-transform: uppercase;
    padding-left: 30px;
}

.popular-header {
    background-color: #f9f5f0;
    margin-bottom: 20px;
    
}

.popular-goods > .container,
.brand-list-popular > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-header .button {
    margin-right: 24px;
    min-width: 253px;
    height: 38px;
    box-sizing: border-box;
    padding-top: 13px; /*текст кнопки не по центру по вертикали*/
    padding-bottom: 13px;
}

.popular-list li:last-child {
    background-image: url("..img/svg/new-flag.svg") /*или нарисовать*/
}

.brand-list-popular .popular-brands.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.popular-brands a {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 219px;
    height: 144px;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
}

.popular-brands .brand:nth-last-child(4n) {
    margin-right: 0;
}

.popular-brands a:hover,
.popular-brands a:focus {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

/*--------сервисы--------------------------*/

.sevices {
    background-color: #f4f7f9;
    min-height: 522px;
}

.services-title {
    margin: 0;
    padding: 0;
    width: 398px;
    min-height: 96px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 74px;
}

.services-slider {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 240px;
}

.services-slider li {
    width: 240px;
    min-height: 61px;
}

.services h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.services p {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.services h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    text-transform: uppercase;
}

.services-credit .button {
    background-color: #ff5357;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.25;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

/*------слайдер сервисов---------*/

.services li {
    list-style: none;
    text-decoration: none;
}

.button-service {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.43;
    text-align: left;
    color: #ffffff;
    box-shadow: inset 0px -1px 0 0 #33445a;
    background-color: #32425c; 
}

.service-slider-block {
    display: none;
}

.services-delivery {
    width: 275px;
    height: 147px;
    background: url("/img/slider-delivery.png") no-repeat;
}

.button-service:hover,
.button-service:focus {
    background-color: #293449;
    color: #ffffff;
}

.button-service:active {
    background-color: #ffffff;
    color: #32425c;
}

.main-page-footer .container {
    display: flex;
}

.about h2,
.main-page-footer h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

/*текст на всю ширину тянется, нужен бр в разметке ?*/
.about p,
.main-page-footer p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.about li {
    list-style: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.about .button,
.modal-write-us .button,
.drills-slide a,
.popular-header a {
    list-style: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.25;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #ee3643;
}

/*-----------catalog--------------------*/
/*
.catalog-content .container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
*/

/*отрицательный маргин что бы попасть в 
область маргина хедера главной или абсолют. позишн ?*/
.catalog-content .breadcrumbs {
    display: flex;
}

.breadcrumbs a {
    list-style: none;
    text-decoration: none;
    color: #000000;
    margin-right: 40px;
}

.breadcrumbs li:first-child {
    font-size: 0;
}

.catalog-content .breadcrumbs {
    margin: 0;
    padding: 0;
}

.breadcrumbs,
.breadcrumbs-current {
    list-style: none;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;  
    line-height: 1.38;
    text-align: left;
    text-transform: uppercase;
    color: #32425c;
}

.container .page-title {
    background-color: #f2f6f8;
    min-height: 89px;
    box-sizing: border-box;
    vertical-align: middle;
    padding-top: 32px;
    padding-left: 30px;
}

.catalog-content h1 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f2f6f8;
}

/*---------фильтры-----------*/

.filters {
    margin: 0;
    padding: 0;
    width: 220px;
    min-height: 745px;
    margin-right: 20px;
}

.filter fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.filter-by-price h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.filter-price-range,
.filter-price-control .filter-price-min,
.filter-price-control .filter-price-max {
    background-color: #f7f3ec;
}

.filter-price-range {
    height: 80px;
}

.filter-by-price .filter-price-control {
    display: flex;
    align-items: center;
}

.filter-price-control .filter-price-min,
.filter-price-control .filter-price-max {
    width: 95px;
    height: 38px;
}

.filter-price-control {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 1.06;
    text-align: center;
    color: #000000;
}

.filter-price-control span {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #444444;
}

.filter legend {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    text-align: left;
    color: #000000;
}

.filter p,
.sorting h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    background-color: #f7f3ec;
}

.brands li,
.supply li {
    list-style: none;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.33;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.filter-button {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

/*-------------сортировка-----------*/

.sorting {
    margin: 0;
    padding: 0;
    background-color: #f7f3ec;    
}

.catalog .sorting {
    width: 700px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.sorting-list a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.sorting-list a:first-child {
    color: #ee3643;
}

.sorting-list a:last-child,
.sorting-list a:nth-child(4) {    
    font-size: 0;
}

.sort-by-increase {
    background-image: url("..img/svg/icon-up-dir.svg");
}

.sort-by-decrease {
    background-image: url("..img/svg/icon-down-dir.svg");
}

/*сам каталог*/

.catalog-content .wrapper {
    display: flex;
    justify-content: space-between;
}

.catalog-content .catalog {
    margin: 0;
    padding: 0;
    width: 700px;
    min-height: 995px;
}

.catalog-list {
    margin-bottom: 52px;
}

.catalog ul,
.catalog-list li {
    margin: 0;
    padding: 0;
}

.catalog .catalog-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

/*---------карточка товара-----------*/

.catalog-item {
    border: 1px solid #e5e5e5;
    width: 220px;
    min-height: 318px;
    margin-right: 20px;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;  
    font-weight: bold; 
    line-height: 1.11; 
    text-align: center;  
    color: #000000;
}

.old {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.06;
    color: #999999;
    text-decoration: line-through;
}

.button-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;  
    font-weight: bold;  
    line-height: 1.06;  
    text-align: center;
    color: #ffffff;
    background: #ee3643;/*пока так*/
}

.buy-item {
    background-color: #63a63e;
    box-shadow: inset 0px -3px 0 0 #367315;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.29;  
    text-align: center;
    color: #ffffff;
}

.buy-item:hover,
.buy-item:focus {
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #5fbb2d;
}

.in-bookmark {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #32425c;
    background-color: #ffffff;
}

.in-bookmark:hover,
.in-bookmark:focus {
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #5fbb2d;
}

/*--------кнопки страниц-----------*/

.pagination-list {
    padding: 0;
    margin: 0;
    min-height: 38px;
    display: flex;
    
}

.pagination-list li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none; 
    margin-right: 10px;
}

ul.pagination-list {
    margin: 0;
    padding: 0;
    padding-top: 52px;
}

.pagination-item {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: center;
    background-color: #ffffff;
    color: #000000;    
    text-transform: uppercase;
}

.pagination-item:not(:first-child) {
    border: 1px solid #e5e5e5;
}

.pagination-list a {
    display: block;
    color: #000000;
    min-width: 38px;
    height: 38px;  
    box-sizing: border-box;
}

.pagination-item-current {
    margin: 0;
    padding: 0;
    background-color: #ee3643;
}

.pagination-list li:last-child {
    min-width: 140px;
}

.pagination-list a:hover,
.pagination-list a:focus {
    border: 1px solid #bdc6ca;  
}

.pagination-list a:active {
    border: 1px solid #ee3643;  
}

/*---------статья в каталоге----------------*/

.about-perforators h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.about-perforators p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

/*футер*/

.main-footer {
    margin: 0;
    padding: 0;
    min-height: 300px;
}

.main-footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*верхняя часть футера*/

.footer-links {   
    background-color: #32425c;
    min-height: 193px;
}

.container .main-footer-logo {
    background-color: #ee3643;
    width: 220px;
    height: 68px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.container a.main-footer-logo {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    box-sizing: border-box;
    width: 220px;
    height: 68px;
    padding-top: 25px;
}

.footer-navigation ul,
.footer-catalog-navigation ul {
    margin: 0;
    padding: 0;
}

.footer-navigation .footer-navigation-short {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.adress-footer {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
}

.footer-navigation-short a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #f1f5f7;
}

.footer-navigation-short li {
    padding: 0;
    margin: 0;
    padding-right: 60px;
}

.footer-navigation-short li:last-child {
    padding-right: 0px;
}

.footer-navigation-short li,
.footer-catalog-links li {
    list-style: none;
}
.footer-navigation-short a:hover,
.footer-navigation-short a:focus {
    text-decoration: underline;
}

.footer-catalog-navigation .footer-catalog-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-catalog-links li {
    padding-right: 60px;
}

.footer-catalog-links li:last-child {
    padding-right: 0;
}

.footer-catalog-links a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #ffd180;
}

.footer-catalog-links a:hover,
.footer-catalog-links a:focus {
    text-decoration: underline;
}

/*нижний футер*/
.footer-copyright-social {
    margin: 0;
    padding: 0;
    background-color: #293449;
}

.footer-copyright-social .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-copyright {
    width: 310px;
}

.container ul.footer-social {
    margin: 0;
    padding: 0;
}

.footer-copyright-social p {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.13;
    text-align: left;
    color: #ffffff;
}

.footer-copyright-social a {
    color: #ffd180;
}

.footer-copyright-social a:hover,
.footer-copyright-social a:focus {
    text-decoration: underline;
}

.footer-copyright-social .footer-social {
    list-style: none;
    font-size: 0; /*правильно ?*/
    width: 310px;    
    display: flex;
}

.social-button {
    background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:focus {
    background-color: #ee3643;
}

.container .feedback {
    width: 170px;
}

.container .developer {
    width: 150px;
    margin-left: auto;
}

/*конец нижнего футера*/

/*модальные окна*/
.modal {
    background-color: #ffffff;
}

.modal-write-us .write-form {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17.5px;
    line-height: 17.5px;
    text-align: left;
    color: #000000;
}

.modal-write .button {
    color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 17.5px;
    text-align: center;
    background-color: #ee3643;
}

.modal-close {
    background-image: url("..img/svg/icon-close.svg");
}

.modal-add-cart p {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.add-product-button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

.add-product-button a:first-child {
    background-color: #ee3643;
    color: #ffffff;
}

.add-product-button a:last-child {
    background-color: #ffffff;
    color: #000000;
}

.modal-add-cart p::before {
    content: "";
    background-image: url("..img/svg/icon-mark.svg");  /*доработать*/
}

.write-form input[type="text"],
.write-form textarea {
    border: 2px solid #dee3e4; /*не работает*/
}

.write-form input:focus {
    border-color: #ee3643; /*не работает*/
}

/*-------- временно для пострения сеток, потом УБРАТЬ !!!!-------------*/

div,
section,
a,
ul,
li,
p,
footer,
header {
    outline: 1px solid red;
}