body {
    margin: 0;
    padding: 0;
  
    font-family: "PT Sans", "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
    background-color: #ffffff;
    width: 1200px;
}

a {
    text-decoration: none;
}

.main-header {
    background-color: #f3f7f9;
    /*----сетка-----*/
    display: flex;
    flex-direction: column;
    min-height: 320px;
    align-items: center;
}

.header-top-wrapper {
    width: 100%;
    min-height: 42px;
    background-color: #293449;
}

.header-top {      
    background-color: #293449;
    /*-------------сетка------------------*/
    display: flex;
    width: 940px;    
    min-height: 42px;
    justify-content: center;     
}

.header-top a {
    list-style: none;
    color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-align: left;
}

.search-label input {
    background-color: #293449;
    border: none;
    font-size: 17px;
    line-height: 18px;
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;/*как убрать прозрачность с placeholder*/
}

.bookmark:hover,
.bookmark:focus,
.cart:hover,
.cart:focus,
.search-label input:hover,
.search-label input:focus {
    background-color: #212a3a;
}

.main-header-logo {    
    background-color: #ee3643;
    font-size: 18px;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #ffffff;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    /*-------------------сетка-----------------*/
    width: 220px;
    height: 47px;
}

.main-header-logo a {
    font-size: 18px;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
}

.main-header-logo:hover,
.main-header-logo:focus {
    background-color: #ca2c37;
}

.order {
    background-color: #63a63e;
    min-height: 42px;
    width: 150px;
}

.order:hover,
.order:focus {
    background-color: #5fbb2d;
}

/*средняя часть хедера*/

h1 {
    font-family: "Cuprum", Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
    line-height: 23px;
    color: #ee3643;
}

.header-phone {
    list-style: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    border-color: white;
    color: #ee3643;
}

.header-adress {
    list-style: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #32425c;
}

.user-navigation {
    list-style: none;
}

.user-navigation a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    color: #000000;
}

.user-navigation .my-orders,
.user-navigation .my-cabinet {
    font-size: 16px;
    line-height: 1.13;
    text-decoration: underline;
    color: #32425c;
}

.user-navigation .log-out {
    font-size: 0;
}

.user-navigation a:hover,
.user-navigation a:focus,
.my-orders:hover,
.my-orders:focus {
    color: #ee3643;
}

.logged-in::before {
    content: "";
    background-image: url("img.svg/icon-login.svg")
}

.logged-in::after {
    content: "";
    background-image: url("img.svg/icon-logout.svg")
}

.user-navigation .logged-in:hover,
.user-navigation .logged-in:focus {
    color: #000000;
}

/*нижняя часть хедера главные ссылки*/

.main-navigation {    
    background-color: #32425c;
    width: 940px;
    min-height: 60px;
    margin: 0 130px;
}

.main-navigation li {
    list-style: none;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
}

.site-navigation a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    text-align: left;
    color: #ffffff;
}


.site-navigation a:hover,
.site-navigation a:focus {
    background-color: #293449;
}

/*--------основной контент на главной-------*/

.main-tile .categories-block {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 24px;
    font-weight: bold; 
    line-height: 1.25;
    text-align: left;
    color: #ffffff;
    /*временно наверное*/
    display: block;
    width: 300px;
    height: 123px;
}

.main-tile .button-categories-block {
    background: rgba(0, 0, 0, 0.1);
    /*временно наверное*/
    display: block;
    width: 135px;
    height: 38px;
}

.main-tile .button-categories-block:hover,
.main-tile .button-categories-block:focus {
    background: rgba(0, 0, 0, 0.2);
}

.main-tile a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;  
    line-height: 1.25;  
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;    
}

.categories-material {
    background-color: #ffbf47;
    background-image: url("../img/svg/material-icon.svg");
    background-repeat: no-repeat;
    /*background-image: url("../img/svg/new-flag.svg");картинка или рисовать ?*/
}

.categories-instrument {
    background-color: #3bbce3;
    background-image: url("../img/svg/instrument-icon.svg");
    background-repeat: no-repeat;
}

.categories-technics {
    background-color: #dc91d8;
    background-image: url("../img/svg/technics-icon.svg");
    background-repeat: no-repeat;
}

.categories-discount {
    background-color: #8ed78f;
    background-image: url("../img/svg/discount-icon.svg");
    background-repeat: no-repeat;
}

.categories-delivery {
    background-color: #ffc047;
    background-image: url("../img/svg/delivery-icon.svg");
    background-repeat: no-repeat;
}

.slide h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;  
    font-weight: bold;  
    line-height: 1;
    color: #ffffff;
    text-transform: uppercase;
}

.slide p {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;  
    line-height: 1.33;  
    text-align: left;
    color: #ffffff;
}

.perforators-slide {
    background: url("../img/slider-perf.jpg") no-repeat;
}

.drills-slide {
    background: url("../img/slider-drill.jpg") no-repeat;
}

.button-slider-categories {
    background-color: #ee3643;   
}

.slider a:hover,
.slider a:focus {
    background-color: #ca2c37;
}

/*-----------популярные товары-----------------*/

.popular-goods h3,
.brand-list-popular h3 { 
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 1;
    text-align: left;
    color: #32425c;
    text-transform: uppercase;
}

.popular-header {
    background-color: #f9f5f0;
}

.popular-list li:last-child {
    background-image: url("..img/svg/new-flag.svg") /*или нарисовать*/

}

.popular-brands a {
    background-color: #ffffff; /*в макете #e5e5e5*/
    border: 1px solid #eaeaea;
}

.popular-brands a:hover,
.popular-brands a:focus {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

/*--------сервисы--------------------------*/

.services h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.services p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.services h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    text-transform: uppercase;
}

.services-credit .button {
    background-color: #ff5357;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.25;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

/*------слайдер сервисов---------*/

.services li {
    list-style: none;
    text-decoration: none;
}

.button-service {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.43;
    text-align: left;
    color: #ffffff;
    box-shadow: inset 0px -1px 0 0 #33445a;
    background-color: #32425c; 
}

.services-delivery {
    background-image: url("/img/slider-delivery.jpg")
}

.button-service:hover,
.button-service:focus {
    background-color: #ffffff;
    color: #32425c;
}

/*заголовок выглядит толще, чем в макете*/
.about h2,
.main-page-footer h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

/*текст на всю ширину тянется, нужен бр в разметке ?*/
.about p,
.main-page-footer p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.about li {
    list-style: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.about .button,
.modal-write-us .button,
.drills-slide a,
.popular-header a {
    list-style: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.25;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #ee3643;
}

/*каталог*/
.container {    
    background-color: #ffffff;
}

.breadcrumbs a {
    list-style: none;
    text-decoration: none;
    color: #000000;
}

.breadcrumbs,
.breadcrumbs-current {
    list-style: none;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;  
    line-height: 1.38;
    text-align: left;
    text-transform: uppercase;
    color: #32425c;
}

.container h1 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

/*---------фильтры-----------*/

.filter fieldset {
    border: none;
}

.filter-by-price h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.filter-price-range,
.filter-price-control {
    background-color: #f7f3ec;
}

.filter-price-control {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 1.06;
    text-align: center;
    color: #000000;
}

.filter-price-control span {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #444444;
}

.filter legend {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    text-align: left;
    color: #000000;
}

.filter p,
.sorting h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    color: #000000;
    background-color: #f7f3ec;
}

.brands li,
.supply li {
    list-style: none;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.33;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.filter-button {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

/*-------------сортировка-----------*/

.sorting-list a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.sorting-list a:first-child {
    color: #ee3643;
}

.sorting-list a:last-child,
.sorting-list a:nth-child(4) {    
    font-size: 0;
}

.sort-by-increase {
    background-image: url("..img/svg/icon-up-dir.svg");
}

.sort-by-decrease {
    background-image: url("..img/svg/icon-down-dir.svg");
}


/*---------карточка товара-----------*/

.catalog-item {
    border: 1px solid #e5e5e5;
}

.catalog-item h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;  
    font-weight: bold; 
    line-height: 1.11; 
    text-align: center;  
    color: #000000;
}

.old {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.06;
    color: #999999;
    text-decoration: line-through;
}

.button-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;  
    font-weight: bold;  
    line-height: 1.06;  
    text-align: center;
    color: #ffffff;
    background: #ee3643;/*пока так*/
}

.buy-item {
    background-color: #63a63e;
    box-shadow: inset 0px -3px 0 0 #367315;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.29;  
    text-align: center;
    color: #ffffff;
}

.buy-item:hover,
.buy-item:focus {
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #5fbb2d;
}

.in-bookmark {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #32425c;
    background-color: #ffffff;
}

.in-bookmark:hover,
.in-bookmark:focus {
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #5fbb2d;
}

/*--------кнопки страниц-----------*/

.pagination-list li {
    list-style: none;
    text-decoration: none;
}

.pagination-item {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #e5e5e5;
    text-transform: uppercase;
}

.pagination-list a {
    color: #000000;
}

.pagination-item-current {
    background-color: #ee3643;
}

/*---------статья в каталоге----------------*/

.about-perforators h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.about-perforators p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    color: #000000;
}


/*футер*/
/*верхняя часть футера*/
.footer-links {
    background-color: #32425c; /*цвет проверить в фотошопе*/
}

/*по стайлгайду это не ссылка*/
.main-footer-logo {
    background-color: #ee3643;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 23px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    width: 220px;
    height: 68px;
}

.adress-footer {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
}

.footer-navigation-short a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #f1f5f7;
}

.footer-navigation-short li,
.footer-catalog-links li {
    list-style: none;
}
.footer-navigation-short a:hover,
.footer-navigation-short a:focus {
    text-decoration: underline;
}

.footer-catalog-links a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #ffd180;
}

.footer-catalog-links a:hover,
.footer-catalog-links a:focus {
    text-decoration: underline;
}

/*нижний футер*/
.footer-copyright-social {
    background-color: #293449;
}

.footer-copyright-social p {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.13;
    text-align: left;
    color: #ffffff;
}

.footer-copyright-social a {
    color: #ffd180;
}

.footer-copyright-social a:hover,
.footer-copyright-social a:focus {
    text-decoration: underline;
}

.footer-social {
    list-style: none;
    font-size: 0; /*правильно ?*/    
}

.social-button {
    background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:focus {
    background-color: #ee3643;
}

/*конец нижнего футера*/

/*модальные окна*/
.modal {
    background-color: #ffffff;
}

.modal-write-us .write-form {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17.5px;
    line-height: 17.5px;
    text-align: left;
    color: #000000;
}

.modal-write .button {
    color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 17.5px;
    text-align: center;
    background-color: #ee3643;
}

.modal-close {
    background-image: url("..img/svg/icon-close.svg");
}

.modal-add-cart p {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.add-product-button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

.add-product-button a:first-child {
    background-color: #ee3643;
    color: #ffffff;
}

.add-product-button a:last-child {
    background-color: #ffffff;
    color: #000000;
}

.modal-add-cart p::before {
    content: "";
    background-image: url("..img/svg/icon-mark.svg");  /*доработать*/
}

.write-form input[type="text"],
.write-form textarea {
    border: 2px solid #dee3e4; /*не работает*/
}

.write-form input:focus {
    border-color: #ee3643; /*не работает*/
}

/*-------- временно для пострения сеток, потом УБРАТЬ !!!!-------------*/

div,
section,
a,
ul,
li,
p,
footer,
header {
    outline: 1px solid red;
}